<% num_tweets = @detection.tweets.author_null.size %>
<% if @detection.tweets.author_not_null.size == 0 %>
  <h1><%= @detection.screen_name %> has not been plagiarized!</h1>
  <p>We've looked at <b>@<%= @detection.screen_name %></b>'s last <b><%= num_tweets %></b> tweets and didn't find any evidence that he/she has been plagiarized on Twitter.</p>
<% else %>
  <h1>Suspected plagiarism:</h1>
  <p>We looked at <b>@<%= @detection.screen_name %></b>'s last <b><%= num_tweets %></b> tweets and found that he/she was copied elsewhere on Twitter:</p>
  <%= display_key %>
  <% @detection.tweets.author_null.plagiarism_of_null.each do |tweet| %>
    <% if Tweet.plagiarism_of_eq(tweet.id).count > 0 %>
    <ul>
      <li>
        <%= display_plagiarized_tweet(tweet) %>
        <% Tweet.plagiarism_of_eq(tweet.id).detection_id_eq(@detection.id).each do |plagiarism| %>
          <%= display_plagiarism_tweet(plagiarism) %>
        <% end %>
      </li>
    </ul>
    <% end %>
  <% end %>
<% end %>
<!-- <p> -->
  <%= link_to 'Look back further!', detection_path(:direction => :earlier), :method => :put, :class => 'big_red_button' %>
<!-- </p> -->
<!-- <p> -->
  <%= link_to 'Look for more recent tweets', detection_path(:direction => :later), :method => :put, :class => 'big_red_button' %>
<!-- </p> -->