<% num_tweets = @detection.tweets.author_null.size %>
<% if @detection.tweets.author_not_null.size == 0 %>
  <h1><%= @detection.screen_name %> has not been plagiarized!</h1>
  <p>We've looked at <b><%= @detection.screen_name %></b>'s last <b><%= num_tweets %></b> tweets and didn't find any evidence that he/she has been plagiarized on Twitter.</p>
<% else %>
  <h1>Suspected plagiarism:</h1>
  <p>We looked at <b><%= @detection.screen_name %></b>'s last <b><%= num_tweets %></b> tweets and found that he/she was copied elsewhere on Twitter:</p>
  <%= display_key %>
  <ul>
    <% last_po = 0 %>
    <% plagiarized = nil %>
    <% @detection.tweets.plagiarism_of_not_null.descend_by_plagiarism_of.each do |tweet| %>
      <% if last_po != tweet.plagiarism_of && last_po > 0 %>
        </li>
      <% end %>
      <% if last_po != tweet.plagiarism_of %>
        <li>
        <% plagiarized = Tweet.find(tweet.plagiarism_of)%>
        <%= display_plagiarized_tweet(plagiarized) %>
        
        <% last_po = tweet.plagiarism_of %>
      <% end %>
      <%= display_plagiarism_tweet(tweet, plagiarized) %>
    <% end %>
    </li>
  </ul>
<% end %>
<!-- <p> -->
  <%= link_to 'Look back further!', detection_path(:direction => :earlier), :method => :put, :class => 'big_red_button' %>
<!-- </p> -->
<!-- <p> -->
  <%= link_to 'Look for more recent tweets', detection_path(:direction => :later), :method => :put, :class => 'big_red_button' %>
<!-- </p> -->